* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", "sans serif";
}
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.bg_animate {
  width: 100%;
  height: 100vh;
  background: linear-gradient(35deg, #004045, #000000, #001d0b, #000000);
  position: relative;
  overflow: hidden;
}
.header_nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header_nav .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header_nav h1 {
  color: #fff;
  font-family: "gagalin";
}
/* menu */
.header_nav nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.contenedor .btn-menu {
  border-radius: 6px;
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.btn-menu:hover {
  background: transparent;
  border-radius: 6px;
  box-shadow: 0 0 3px #d6d6d6, 0 0 6px #d6d6d6, 0 0 6px #d6d6d6;
  transition-delay: 1s;
}
.btn-menu span {
  border-radius: 6px;
  position: absolute;
  display: block;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d6d6d6);
}
.btn-menu:hover #span3 {
  border-radius: 6px;
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d6d6d6);
}
.btn-menu:hover #span2 {
  border-radius: 6px;
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d6d6d6);
}
.btn-menu:hover #span4 {
  border-radius: 6px;
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.banner_title h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner_img {
  animation: movimiento 2.5s linear infinite;
}
.banner_img img {
  width: 200px;
  display: block;
}
/* boton */
.banner_title .btn-neon {
  border-radius: 6px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;

  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.btn-neon:hover {
  background: transparent;
  border-radius: 6px;
  box-shadow: 0 0 5px #d6d6d6, 0 0 10px #d6d6d6, 0 0 10px #d6d6d6;
  transition-delay: 1s;
}
.btn-neon span {
  border-radius: 6px;
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d6d6d6);
}
.btn-neon:hover #span1 {
  border-radius: 6px;
  left: 100%;
  transition: 1s;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d6d6d6);
}
.btn-neon:hover #span3 {
  border-radius: 6px;
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d6d6d6);
}
.btn-neon:hover #span2 {
  border-radius: 6px;
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d6d6d6);
}
.btn-neon:hover #span4 {
  border-radius: 6px;
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

ul {

  padding-top: 10%;
  position: relative;
  display: flex;
}
ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
}
ul li a .fa-brands {
  font-size: 6em;
  color: rgb(247, 247, 247);
}
ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
ul li:nth-child(2) a::before {
  content: "\f232";
  color: #25d366;
  border-bottom: 4px solid #25d366;
}
ul li:nth-child(3) a::before {
  content: "\f099";
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
}
ul li:hover a::before {
  height: 100%;
}

/* burbujas */

.burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: 0.2;
  position: absolute;
  bottom: -150;

  animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 5s;
  animation-delay: 5s;
}
.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 10%;
  animation-duration: 6s;
  animation-delay: 8s;
}
.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 4s;
  animation-delay: 6s;
}
.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 25%;
  animation-duration: 7s;
  animation-delay: 4s;
}
.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 5s;
  animation-delay: 3s;
}
.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 40%;
  animation-duration: 6s;
  animation-delay: 7s;
}
.burbuja:nth-child(7) {
  width: 100px;
  height: 100px;
  left: 65%;
  animation-duration: 4s;
  animation-delay: 6s;
}
.burbuja:nth-child(8) {
  width: 65px;
  height: 65px;
  left: 81%;
  animation-duration: 5s;
  animation-delay: 4s;
}
@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translatey(0x);
  }
}
